<div class="page-header">
    <h1>História <small></small></h1>
</div>
<div class="row">
    <div class="col-md-8 ">
        <p style="text-align: justify;">O BCC (Bacharelado em Ciência da Computação) no IME/USP teve sua primeira turma formada em 1974 e sua forma de ingresso era como opção para os que quisessem cursar Matemática até 1983. Em 1984, virou opção da Fuvest na área de Ciências Exatas, prova vestibular para ingresso à USP. O curso, ao contrário do que muitos pensam, não se resume exatamente à programação e mesmo quando se trata disso, há várias áreas nas quais podemos usar tal ferramenta. Nesse contexto, nós, alunos do BCC, criamos o Encontro como uma forma de guiar quem está no curso e mostrar do que ele realmente se trata para quem não está.</p>
        <p style="text-align: justify;">O Encontro BCC é um evento anual onde promovemos palestras, workshops e outras atividades para mostrar parte das experiências que o curso de Ciência da Computação no IME/USP pode oferecer. O encontro é realizado desde 2009 e é totalmente organizado por alunos do BCC. Em 2014, excepcionalmente, nosso curso completará 40 anos desde sua primeira turma formada. Para expressarmos nossa gratidão e desejo por mais 40 anos na formação de cérebros da Computação, faremos uma edição especial do Encontro, com direito a eventos culturais, gastronômicos e claro, mais computação!</p>
    </div>
    <div class="col-md-4"><img style="max-width: 400px;" src="images/lendo.jpg" class="img-thumbnail"></div>
</div>
<div class="row">
    <div class="col-md-8 " style="text-align: justify;">
        <p style="text-align: justify;">
            <h4>- Edições Anteriores</h4>
            <ul>
                <li><a href="http://bcc.ime.usp.br/encontro/2015">VII Encontro do BCC — 2015</a></li>
                <li><a href="http://bcc.ime.usp.br/40anos/">VI Encontro do BCC — 2014</a></li>
                <li><a href="http://www.ime.usp.br/~encontrobcc/2013/">V Encontro do BCC — 2013</a></li>
                <li><a href="http://www.ime.usp.br/~encontrobcc/2012/">IV Encontro do BCC — 2012</a></li>
                <li><a href="http://www.ime.usp.br/~encontrobcc/2011/">III Encontro do BCC — 2011</a></li>
                <li><a href="http://www.ime.usp.br/~encontrobcc/2010/">II Encontro do BCC — 2010</a></li>
            </ul>
        </p>
    </div>
</div>