<ng-map center="[-23.5595922,-46.7313849]" zoom="16">
	<marker position="-23.5595922,-46.7313849" title="Hello World!"></marker>
</ng-map>



<br /><br />CIRCULAR – USP</p>
<div style="text-align: justify;">Os ônibus circulares operados pela USP são linhas internas e gratuitas que complementam o transporte feito pelas linhas 8012 e 8022 (gratuito aos portadores do Bilhete USP), buscando oferecer, juntamente com o circular operado pela SPTrans, um perfil adequado ao transporte.</div>
<p>Horário de Funcionamento: de segunda a sexta-feira, das 6h às 22h.<br /><br /><a href="https://www.ime.usp.br/images/arquivos/imagens/circularUSPtrajeto.pdf">Trajeto Ônibus Circular</a><br /><a href="https://www.ime.usp.br/images/arquivos/imagens/itinerarios.pdf">Trajeto Linhas 8012 e 8022</a><br /><a href="https://www.ime.usp.br/images/arquivos/imagens/cidadeuniversitaria.pdf">Mapa do Campus</a><br /><br />TRANSPORTE ESPECIAL</p>
<div style="text-align: justify;">Sistema de Transporte Especial voltado ao melhor conforto das pessoas com deficiência ou mobilidade reduzida.</div>
<p>Informações:&nbsp;USP LEGAL: 3091-2939 / Guarda Universitária (atendimento): 3091-4222</p>
<p style="text-align: justify;">&nbsp;</p>	</div>