<!--<div class="overview" id="overview">

  <h1>
    <img alt="Loon for all" src="images/logo.png">
  </h1>
  <h2>
    XIII Encontro do BCC
  </h2>
  <div class="video">
    <a data-g-action="play" data-g-event="Video" data-g-label="Homepage video" href=
    "https://www.youtube.com/watch?v=m96tYpEk1Ao">Project Loon introduction video</a>
  </div>
</div>-->
<div class="section" id="intro">
  <h2>
    O que é o encontro?
  </h2>
  <p>
    O Encontro do BCC consiste numa semana de palestras que abordam temas variados sobre as diversas áreas da computação. Apesar de ser voltado para o pessoal da graduação em ciências da computação, o evento é aberto e qualquer interessado pode assistir as palestras.
  <p></p>
    Além de estarmos focados em trazer assuntos interessantes e inovadores, neste ano também contaremos com a presença das editoras Aleph e Casa do Código com descontos especiais! E teremos sorteio de livros doados pelas editoras Blucher e Springer!
  <p></p>
    Sem falar nos maravilhosos cofee-breaks.
  </p>
</div>

<div class="section" id="where">
  <h2>
    Palestras
  </h2>
  <div class="cols">
    <div class="col">
      <ul>
        <li ng-repeat="palestrante in palestrantes | orderBy:'title'">
          <a href="#/palestrantes/{{palestrante.id}}" style="text-decoration: none;">{{palestrante.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="section" id="how">
  <h2>
    O Local
  </h2>
  <div class="cols">
    <div class="col">
      <ng-map center="[-23.5595922,-46.7313849]" zoom="16">
        <marker position="-23.5595922,-46.7313849" title="Hello World!"></marker>
      </ng-map>
    </div>
    <div class="col">
      <p>
        O evento ocorrerá no auditório Auditório Jacy Monteiro do Bloco B do IME-USP, localizado na rua do Matão, 1010 - Butantã, São Paulo - CEP 05508-090 - Brasil.
      </p>
      <p>
        <a class="button" href="#/local/">Mais informações.</a>
      </p>
    </div>
  </div>
</div>

